@page "{id:Guid}"
@model TodoWork.Pages.Todo.UpdateTodoModel
@using BLL.DTOModels
@{
}
<form class="form-control" method="post">
    <input asp-for="Todo.Id" hidden="hidden" />
    <input asp-for="Todo.Created" hidden="hidden"/>
    <label class="form-label">@Html.DisplayNameFor(x => x.Todo.Title)</label>
    <input asp-for="Todo.Title" />
    <label class="form-label">@Html.DisplayNameFor(x => x.Todo.Description)</label>
    <input asp-for="Todo.Description" />
    <label class="form-label">@Html.DisplayNameFor(x => x.Todo.TaskPriority)</label>
    <select asp-for="Todo.TaskPriority">
        <option value="High" name="todo.TaskPriority.High">High</option>
        <option value="Medium" name="todo.TaskPriority.Medium">Medium</option>
        <option value="Low" name="todo.TaskPriority.Low">Low</option>
    </select>
    <button class="btn btn-primary">Opdatere</button>
</form>