@page "{id:Guid}"
@model TodoWork.Pages.Todo.UpdateTodoModel
@using BLL.DTOModels
@{
    ViewData["Title"] = "Redigier opgave";
}
<div class="d-flex justify-content-center mt-5">
    <form class="form-control w-50 bg-light" method="post">
        <h4>Rediger opgave</h4>
        <input asp-for="Todo.Id" hidden="hidden" />
        <input asp-for="Todo.Created" hidden="hidden" />
        <label class="form-label">@Html.DisplayNameFor(x => x.Todo.Title)</label>
        <input class="form-control" asp-for="Todo.Title" required/>
        <label class="form-label">@Html.DisplayNameFor(x => x.Todo.Description)</label>
        <textarea class="form-control" asp-for="Todo.Description" required></textarea>
        <label class="form-label me-3">@Html.DisplayNameFor(x => x.Todo.TaskPriority)</label>
        <select class="mt-2" asp-for="Todo.TaskPriority">
            <option value="High" name="todo.TaskPriority.High">Høj</option>
            <option value="Medium" name="todo.TaskPriority.Medium">Mellem</option>
            <option value="Low" name="todo.TaskPriority.Low">Lav</option>
        </select>
        <div class="d-flex justify-content-center mb-2">
            <button class="btn btn-primary">Opdater</button>
        </div>
    </form>
</div>