@page
@model TodoWork.Pages.Error.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}
<h1>Det du ledte efter kunne ikke findes</h1>
<a asp-page="/Index" class="btn btn-primary mt-5">klik for at komme tilbage til forsiden</a>
