@page
@model IndexModel
@{
    ViewData["Title"] = "Hjem";
}
<div class="d-flex justify-content-center mt-5">
    <form class="form-control w-50" method="post">
        <h4>Login</h4>
        <label class="mt-2">Bruger navn</label>
        <input class="form-control mt-2" asp-for="Email" required />
        <label class="mt-2">Adgangskode</label>
        <input class="form-control mt-2" asp-for="Password" type="password" required />
        <div class="d-flex justify-content-center mt-3 mb-2">

            <button class="btn btn-primary me-2" asp-page-handler="Login">Login</button>
            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Opret</a>
        </div>
    </form>
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Opret bruger</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <label class="form-label">@Html.DisplayNameFor(x => x.User.Email)</label>
                    <input class="form-control" asp-for="CreateEmail" required />
                    <label class="form-label">@Html.DisplayNameFor(x => x.User.Name)</label>
                    <input class="form-control" asp-for="Name" required />
                    <label class="form-label me-3">@Html.DisplayNameFor(x => x.User.Password)</label>
                    <input class="form-control" asp-for="CreatePassword" type="password" required />            
                    <label class="form-label me-3">Gentag @Html.DisplayNameFor(x => x.User.Password)</label>
                    <input class="form-control" asp-for="CreatePassword2" type="password" required />            
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary mt-3" asp-page-handler="Create">Opret</button>
                </div>
            </form>
        </div>
    </div>
</div>